body {
    background-color: black;
    text-align: center;
}

#titre {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    
}

#lienDL {
    color: aquamarine;
    font-size: 16px;
}